.outlayer {
    display: flex;
    margin: 20px;
    background-color: #ffffff;
    height: 80%;
    width: calc(100% - 40px);
    box-sizing: border-box;
}

.outlayer .div1 {
    background-color: #ffffff;
    margin: 10px 5px 10px 10px;
    border-radius: 10px;
    width: 100%;
}

.outlayer .div1 #map {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.innerlayer {
    width: 100%;
    display: block;
    background-color: #ffffff;
    box-sizing: border-box;
    color: #000000;
}

.outlayer .innerlayer .div2 {
    display: flex;
    row-span: 2;
    box-sizing: border-box;
    background-color: #f0f2f5;
    margin: 10px 10px 10px 5px;
    height: calc(50% - 30px);
    width: calc(100% - 20px);
    border-radius: 10px;
}

.div2 .div2left {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    margin: 16px 8px 16px 16px;
    width: 50%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.div2 .div2left .card {

}

.div2 .div2left:hover {
    transform: scale(1.01);
}

.div2 .div2right {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    margin: 16px 16px 16px 8px;
    width: 50%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#aqiContainer {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#aqiText {
    font-size: 1.5vw;
    display: block;
    color: #000000;
}

#aqiContainer.good #aqiText,
#aqiContainer.fair #aqiText,
#aqiContainer.moderate #aqiText,
#aqiContainer.poor #aqiText,
#aqiContainer.veryPoor #aqiText {
    color: white;
}

.div2 .div2right .data-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;
    margin-top: 1vh;
}

.div2 .div2right .data-item {
    font-size: 1vw;
    background-color: rgb(255, 255, 255); /* Light background for items */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Space inside each item */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display: flex; /* Flex for alignment */
    justify-content: space-between; /* Space between name and value */
    align-items: center; /* Center items vertically */
    transition: background-color 0.3s ease;
}

/* CSS for data item colors based on new classes */
.div2 .div2right .good {
    background-color: #006400; /* Good */
    color: white;
}

.div2 .div2right .fair {
    background-color: #9ACD32; /* Fair */
    color: #ffffff;
}

.div2 .div2right .moderate {
    background-color: #ffca54; /* Moderate */
    color: #ffffff;
}

.div2 .div2right .poor {
    background-color: #FFA500; /* Poor */
    color: #ffffff;
}

.div2 .div2right .veryPoor {
    background-color: #FF0000; /* Very Poor */
    color: white;
}

.div2 .div2right:hover {
    transform: scale(1.01);
}

.outlayer .innerlayer .div3 {
    background-color: #f0f2f5;
    margin: 10px 10px 10px 5px;
    height: 50%;
    width: calc(100% - 20px);
    border-radius: 10px;
}
